/*素材家园　搜集整理　www.sucaijiayuan.com*/

.actGotop{
    position:   fixed; 
    _position:  absolute; 
    bottom:     100px; 
    right:      50px; 
    width:      150px; 
    height:     195px; 
    display:    none;
}

.actGotop a, .actGotop a:link{
    width:      150px;
    height:     195px;
    display:    inline-block;
    background: url(/assets/themes/kingauthur/photos/gotop.png) no-repeat;
    _background:url(/assets/themes/kingauthur/photos/gotop.gif) no-repeat;
    outline:    none;
}

.actGotop a:hover{
    width:      150px; 
    height:     195px; 
    background: url(/assets/themes/kingauthur/photos/gotopd.gif) no-repeat; 
    outline:    none;
}
