<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">


    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }} &larr; {{ page.top }}</title>
        <meta name="author" content="{{ site.author.name }}" />
        <meta name="baidu-site-verification" content="eF5slg3gwp" />   
        <link rel="start" href="{{ HOME_PATH }}" />

        {% if page.description %}
            <meta name="description" content="{{ page.description }}">
        {% endif %}

        {% if page.keywords %}
            <meta name="keywords" content="{{ page.keywords }}">
        {% endif %}

        {% if site.author.feedburner %}
            <link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/{{ site.author.feedburner }}" title="RSS feed" />
        {% endif %}

        {% if page.feed %}
            <link rel="alternate" type="application/atom+xml" href="{{ page.feed }}" title="RSS feed" />
        {% endif %}

        <!-- Custom JS-->
        <script type="text/javascript" src="/assets/themes/kingauthur/js/jquery.js"></script>
        <script type="text/javascript" src="/assets/themes/kingauthur/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/assets/themes/kingauthur/js/site-search.js"></script>
        <script type="text/javascript" src="/assets/themes/kingauthur/js/custom.js"></script>

        <!-- Custom CSS-->
        <link rel="stylesheet" href="/assets/themes/kingauthur/css/screen.css" type="text/css" />
        <link rel="stylesheet" href="/assets/themes/kingauthur/css/jquery-ui.css" type="text/css" />
        <link rel="stylesheet" href="/assets/themes/kingauthur/css/gotop.css" type="text/css" />
    </head>


    <body id="{{ page.section }}">

        <header id="header">    <!-- 网站顶部-->
            <img id="avater" src="/assets/themes/kingauthur/photos/head6.png"/> 
            <hgroup>
            <br/>
            <h1 id="logo"><a href="{{ HOME_PATH }}" title="{{ site.title }}">&nbsp;{{ site.title }}</a></h1>
            <h2 id="sublogo">&nbsp;知行合一</h2>
            </hgroup>
        </header>

        <div id="wrap">
            <nav id="menu">     <!--导航栏-->
                <ul id="menu-header">
                    <li id="menu-item-index" ><a  href="{{ HOME_PATH }}">首页</a></li>
                    <li id="menu-item-tech" ><a  href="/myPages/tech.html">技术</a></li>
                    <li id="menu-item-life" ><a  href="/myPages/life.html">生活</a></li>
                    <li id="menu-item-read" ><a  href="/myPages/read.html">读书</a></li>
                    <li id="menu-item-travel" ><a  href="/myPages/travel.html">旅行</a></li>
                    <li id="menu-item-archive" ><a  href="/myPages/archive.html">文章列表</a></li>
                    <li id="menu-item-tags" ><a  href="/myPages/tags.html">标签浏览</a></li>
                    <li id="menu-item-about" ><a  href="/myPages/about.html">关于我</a></li>
                </ul>
            </nav>

            <div id="toolbar">  <!--订阅＆搜索工具-->
                <div id="searchFrom">
                    <input type="text" name="j_search" id="j_search" size="30" placeholder="输入时间/标题关键字" autocomplete="off"  required />
                    <button type="submit" >Search</button>
                </div>
            </div>
       
            {{ content }}

        </div>

        <footer id="footer">    <!--网站底部-->
            <address>
                <span class="copyright">
                    Theme designed by <a href="http://kingauthur.info/about.html" target="_blank">kingauthur</a>. 
                    (<a rel="licence" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">Some rights reserved</a>)      
                </span>
                <span class="engine">
                    Powered by <a href="http://github.com/mojombo/jekyll/" title="A static, minimalist CMS" target="_blank">Jekyll</a>
                </span>
            </address>
        </footer>
     
        {% include JB/analytics %}

        <div class="actGotop"><a href="javascript:;" title="返回顶部"></a></div>                                                    
        <script type="text/javascript">    
            $(function(){        
                $(window).scroll(function() {            
                    if($(window).scrollTop() >= 400){ //翻页超过400像素，自动出现返回顶部图标    
                        $('.actGotop').fadeIn(300); //出现时间
                    }else{         
                        $('.actGotop').fadeOut(300); //消失时间
                    }       
                });     
                $('.actGotop').click(function(){$('html,body').animate({scrollTop: '0px'}, 800);}); //火箭动画持续时间
            });                                                                                                                         
        </script>    

    </body>
</html>
