---
layout: about
title: "Knowact的个人简介"
description: "关于Z.H.J"
---
{% include JB/setup %}

<div id="content">
	<div id="about" class="post">
		<p><strong>Z.H.J </strong></p>
		<p>阳光乐观，积极向上。爱运动，爱流汗，爱旅行，爱历史，爱编程，更爱老婆。</p>
		<p>曾在武汉＆北京读书，目前在杭州，供职于某知名互联网＆游戏公司。</p>

        <div id="weiboIframe">  <!-- 新浪微博 -->
            <script type="text/javascript">
                var ifr = '<iframe width="100%" height="210" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=300&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=1&isWeibo=1&isFans=0&uid=2254750791&verifier=9d7efb47&dpc=1"></iframe>';
                document.getElementById('weiboIframe').innerHTML = ifr;
            </script>
        </div>

	</div>

	<p id="icon"><img src="/assets/themes/kingauthur/photos/body1_small.png"/></p>
</div>

{% include JB/comments %}

<script type="text/javascript">
	showCurrentItem(document.getElementById("menu-item-about"));
</script>

